@charset "UTF-8";
@import url(style_Reset.css);

div#wrap {
    width: 90%;
    margin: 3% auto;

    background-color: rgba(255, 255, 255, 0.6);
    justify-content: space-around;
    align-items: center;

    overflow: hidden;
}

/* main#main 시작*/
main#main {
    width: 100%;
    height: 600px;
    
    justify-content: center;
    align-items: center;
    
    flex: 10;
}

/* div#bio 시작 */
#main div#bio {
    margin-right: 10px;
    flex: 1;
}

#main #bio div#picWrapper {
    position: relative;
    padding-top: 80%;
    overflow: hidden;
}
#main #bio div#picWrapper img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 60%;
    height: auto;
}

#main #bio table#profileTbl {
    margin-top: 10px;
}
#main #bio #profileTbl tr {
    display: inline-block;
    padding: 3px 0;
}

#main #bio #profileTbl img {
    width: 50px;
    height: auto;
}
/* div#bio 끝 */

/* div#profile 시작 */
/* div#title 시작 */
#main #profile section#title h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
/* div#title 끝 */

/* section#intro 시작 */
/*  연혁  */
#main #profile #intro #selfIntro p .historyDate::after {
    width: 5px;
    height: 5px;
    border: 3px solid #000;
    border-radius: 100%;
    margin: 0 5px;

    background-color: #fff;

    display: inline-block;
    content: "";
}

/* #main #profile #intro #skill table#skillSet td {
    border: 1px solid #000;
    border-collapse: collapse;
} */

#main #profile #intro div#skill {
    height: 402px;
    margin: 0 auto;

    background-image: url(../img/SkillSet-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
}
/* section#intro 끝 */

/* div#portfolio 시작 */
#main div#portfolio {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000;
}

#main #portfolio .marginReceiver {
    display: inline-block;
    margin-top: 400px;
}

#main #portfolio div.inspiredImg {
    justify-content: space-around;
} 

#main #portfolio .inspiredImg img {
    width: 20%;
}

#main #portfolio .pt1Img {
    max-width: 500px;
}

#main #portfolio div.role img {
    width: 100%;
}
/* div#portfolio 끝 */

/* div#profile 끝 */

/* nav#sidebar 시작 */
#wrap #sidebar {
    flex: 1;
}
#wrap #sidebar #sideUl li img {
    width: 25%;
}
/* nav#sidebar 끝 */

.swiper-slide {
    /* height: auto; */
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;

    align-items: center;
    flex-direction: column;

    /* scrollbar */
    overflow-y: auto;

}

