@charset "UTF-8";
@import url(style_Reset.css);


/* main#main 시작*/
main#main {
    justify-content: space-around;
}

.swiper {
    width: 100%;
    height: 810px;
  }

/* div#bio 시작 */
#main div#bio {
    width: 25%;
    flex: 1;
}
#main #bio div#picWrapper {
    position: relative;
    padding-top: 80%;
    overflow: hidden;
}
#main #bio div#picWrapper img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 50%;
    height: auto;
}

#main #bio #profileTbl img {
    width: 50px;
    height: auto;
}
/* div#bio 끝 */

/* div#profile 시작 */
/* div#title 시작 */
#main #profile section#title h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
/* div#title 끝 */

/* section#intro 시작 */
/*  연혁  */
#main #profile #intro #selfIntro p .historyDate::after {
    width: 5px;
    height: 5px;
    border: 3px solid #000;
    border-radius: 100%;
    margin: 0 5px;

    background-color: #fff;

    display: inline-block;
    content: "";
}

/* #main #profile #intro #skill table#skillSet td {
    border: 1px solid #000;
    border-collapse: collapse;
} */

#main #profile #intro div#skill {
    height: 402px;
    margin: 0 auto;

    background-image: url(../img/SkillSet-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
}
/* section#intro 끝 */

/* div#portfolio 시작 */
#main div#portfolio {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000;
}

#main #portfolio div.inspiredImg {
    justify-content: space-around;
} 

#main #portfolio .inspiredImg img {
    width: 20%;
}

#main #portfolio div.plan-container {
    width: 80%;
    margin: 0 auto;
    height: 425px;
    background-image: url(../img/Proj_Plan.png);
    background-size: contain;
    background-repeat: no-repeat;
}
/* div#portfolio 끝 */

/* div#profile 끝 */

/* nav#sidebar 시작 */
#wrap #sidebar #sideUl li img {
    width: 12.5%;
}

/* nav#sidebar 끝 */


